In [2]:
import pandas as pd

In [3]:
df_orders = pd.read_excel("../dataset/df_orders.xlsx")
df_orders.head(50)

       cliente mes_anio  order_demand
0    Cliente_1  12-2024           909
1    Cliente_2  12-2024           959
2    Cliente_3  12-2024           960
3    Cliente_4  12-2024           980
4    Cliente_5  12-2024           979
5    Cliente_6  12-2024           908
6    Cliente_7  12-2024           924
7    Cliente_8  12-2024           920
8    Cliente_9  12-2024           886
9   Cliente_10  12-2024           964
10  Cliente_11  12-2024           942
11  Cliente_12  12-2024           974
12  Cliente_13  12-2024           950
13  Cliente_14  12-2024           932
14  Cliente_15  12-2024           938
15  Cliente_16  12-2024           891
16  Cliente_17  12-2024           968
17  Cliente_18  12-2024           972
18  Cliente_19  12-2024           901
19  Cliente_20  12-2024           881

In [3]:
df_orders.isna().sum()

cliente         0
mes_anio        0
order_demand    0
dtype: int64

In [4]:
df_orders.dtypes

cliente         object
mes_anio        object
order_demand     int64
dtype: object

In [5]:
df_orders.describe().T

              count   mean        std    min     25%    50%    75%    max
order_demand   20.0  936.9  32.736427  881.0  908.75  940.0  965.0  980.0