In [39]:
import pandas as pd
import numpy as np
from statsmodels.tsa.seasonal import seasonal_decompose
import matplotlib.pyplot as plt
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [23]:
# Cargar los DataFrames desde archivos Excel
path_df_location = "../dataset/df_historic_order_demand.xlsx"
df_historic_order_demand = pd.read_excel(path_df_location)

path_df_location = "../dataset/df_location.xlsx"
df_location = pd.read_excel(path_df_location)

path_df_vehicle = "../dataset/df_vehicle.xlsx"
df_vehicle = pd.read_excel(path_df_vehicle)

path_df_orders = "../dataset/df_orders.xlsx"
df_orders = pd.read_excel(path_df_orders)

path_df_distance_km = "../dataset/df_distance_km.xlsx"
df_distance_km = pd.read_excel(path_df_distance_km)

In [24]:
df_orders.head()

     cliente mes_anio  order_demand
0  Cliente_1  12-2024           909
1  Cliente_2  12-2024           959
2  Cliente_3  12-2024           960
3  Cliente_4  12-2024           980
4  Cliente_5  12-2024           979

In [25]:
# Explorar la estructura del DataFrame
print("Primeras filas del DataFrame:")
print(df_historic_order_demand.head())

print("\nInformación del DataFrame:")
print(df_historic_order_demand.info())

# Verificar si hay valores nulos
print("\nValores nulos por columna:")
print(df_historic_order_demand.isnull().sum())

Primeras filas del DataFrame:
     cliente mes_anio  order_demand
0  Cliente_1  12-2020         857.0
1  Cliente_2  12-2020         941.0
2  Cliente_3  12-2020         878.0
3  Cliente_4  12-2020         949.0
4  Cliente_5  12-2020         932.0

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cliente       980 non-null    object
 1   mes_anio      980 non-null    object
 2   order_demand  932 non-null    float64
dtypes: float64(1), object(2)
memory usage: 23.1+ KB
None

Valores nulos por columna:
cliente          0
mes_anio         0
order_demand    48
dtype: int64

In [31]:
# Crear una nueva columna 'mes_anio_dia' con los datos en formato datetime
df_historic_order_demand['mes_anio_dia'] = pd.to_datetime(df_historic_order_demand['mes_anio'], format='%m-%Y', errors='coerce')

# Verificar si hay valores nulos en la nueva columna
print("\nValores nulos en 'mes_anio_dia':")
print(df_historic_order_demand['mes_anio_dia'].isnull().sum())

Valores nulos en 'mes_anio_dia':
0

In [34]:
# Verificar si hay duplicados basados en 'cliente' y 'mes_anio'
print("Registros duplicados:")
print(df_historic_order_demand.duplicated(subset=['cliente', 'mes_anio_dia']).sum())

Registros duplicados:
0
0

In [35]:
# Imprimir una muestra para verificar el resultado
print("Datos preprocesados:")
print(df_historic_order_demand.head())

Datos preprocesados:
     cliente   mes_anio  order_demand mes_anio_dia
0  Cliente_1 2020-12-01         857.0   2020-12-01
1  Cliente_2 2020-12-01         941.0   2020-12-01
2  Cliente_3 2020-12-01         878.0   2020-12-01
3  Cliente_4 2020-12-01         949.0   2020-12-01
4  Cliente_5 2020-12-01         932.0   2020-12-01

In [38]:
# Ordenar primero por cliente y luego por mes_anio_dia
df_historic_order_demand = df_historic_order_demand.sort_values(by=['cliente', 'mes_anio_dia']).reset_index(drop=True)

# Verificar la estructura después de ordenar
print(df_historic_order_demand.head())  # Muestra las primeras filas para confirmar

     cliente   mes_anio  order_demand mes_anio_dia
0  Cliente_1 2020-12-01         857.0   2020-12-01
1  Cliente_1 2021-01-01         768.0   2021-01-01
2  Cliente_1 2021-02-01         635.0   2021-02-01
3  Cliente_1 2021-03-01         631.0   2021-03-01
4  Cliente_1 2021-04-01         589.0   2021-04-01

In [41]:
# Mostrar número de valores nulos en la columna 'order_demand'
print("\nValores nulos en 'order_demand':")
print(df_historic_order_demand['order_demand'].isnull().sum())

# Mostrar las filas que contienen valores nulos en 'order_demand'
print("\nFilas con valores nulos en 'order_demand':")
print(df_historic_order_demand[df_historic_order_demand['order_demand'].isnull()])

Valores nulos en 'order_demand':
48

Filas con valores nulos en 'order_demand':
        cliente   mes_anio  order_demand mes_anio_dia
55   Cliente_10 2021-06-01           NaN   2021-06-01
65   Cliente_10 2022-04-01           NaN   2022-04-01
89   Cliente_10 2024-04-01           NaN   2024-04-01
92   Cliente_10 2024-07-01           NaN   2024-07-01
109  Cliente_11 2021-11-01           NaN   2021-11-01
124  Cliente_11 2023-02-01           NaN   2023-02-01
128  Cliente_11 2023-06-01           NaN   2023-06-01
140  Cliente_11 2024-06-01           NaN   2024-06-01
169  Cliente_12 2022-10-01           NaN   2022-10-01
173  Cliente_12 2023-02-01           NaN   2023-02-01
205  Cliente_13 2021-09-01           NaN   2021-09-01
211  Cliente_13 2022-03-01           NaN   2022-03-01
229  Cliente_13 2023-09-01           NaN   2023-09-01
234  Cliente_13 2024-02-01           NaN   2024-02-01
253  Cliente_14 2021-08-01           NaN   2021-08-01
254  Cliente_14 2021-09-01           NaN   2021-09-01
275  Cliente_14 2023-06-01           NaN   2023-06-01
308  Cliente_15 2022-02-01           NaN   2022-02-01
322  Cliente_15 2023-04-01           NaN   2023-04-01
350  Cliente_16 2021-07-01           NaN   2021-07-01
359  Cliente_16 2022-04-01           NaN   2022-04-01
402  Cliente_17 2021-10-01           NaN   2021-10-01
474  Cliente_18 2023-09-01           NaN   2023-09-01
541   Cliente_2 2021-02-01           NaN   2021-02-01
542   Cliente_2 2021-03-01           NaN   2021-03-01
543   Cliente_2 2021-04-01           NaN   2021-04-01
550   Cliente_2 2021-11-01           NaN   2021-11-01
558   Cliente_2 2022-07-01           NaN   2022-07-01
561   Cliente_2 2022-10-01           NaN   2022-10-01
572   Cliente_2 2023-09-01           NaN   2023-09-01
575   Cliente_2 2023-12-01           NaN   2023-12-01
604  Cliente_20 2022-04-01           NaN   2022-04-01
620  Cliente_20 2023-08-01           NaN   2023-08-01
649   Cliente_3 2021-12-01           NaN   2021-12-01
652   Cliente_3 2022-03-01           NaN   2022-03-01
665   Cliente_3 2023-04-01           NaN   2023-04-01
675   Cliente_3 2024-02-01           NaN   2024-02-01
740   Cliente_5 2021-05-01           NaN   2021-05-01
774   Cliente_5 2024-03-01           NaN   2024-03-01
794   Cliente_6 2021-10-01           NaN   2021-10-01
802   Cliente_6 2022-06-01           NaN   2022-06-01
824   Cliente_6 2024-04-01           NaN   2024-04-01
827   Cliente_6 2024-07-01           NaN   2024-07-01
855   Cliente_7 2022-10-01           NaN   2022-10-01
894   Cliente_8 2021-12-01           NaN   2021-12-01
917   Cliente_8 2023-11-01           NaN   2023-11-01
922   Cliente_8 2024-04-01           NaN   2024-04-01
937   Cliente_9 2021-06-01           NaN   2021-06-01

In [40]:
df_historic_order_demand

       cliente   mes_anio  order_demand mes_anio_dia
0    Cliente_1 2020-12-01         857.0   2020-12-01
1    Cliente_1 2021-01-01         768.0   2021-01-01
2    Cliente_1 2021-02-01         635.0   2021-02-01
3    Cliente_1 2021-03-01         631.0   2021-03-01
4    Cliente_1 2021-04-01         589.0   2021-04-01
..         ...        ...           ...          ...
975  Cliente_9 2024-08-01         662.0   2024-08-01
976  Cliente_9 2024-09-01         637.0   2024-09-01
977  Cliente_9 2024-10-01         627.0   2024-10-01
978  Cliente_9 2024-11-01         613.0   2024-11-01
979  Cliente_9 2024-12-01         886.0   2024-12-01

[980 rows x 4 columns]