In [1]:
import pandas as pd

In [2]:
df_location = pd.read_excel("../dataset/df_location.xlsx")
df_location.head(5)

     Cliente    Latitud  Longitud
0  Cliente_1  40.402828 -3.696878
1  Cliente_2  40.455820 -3.700350
2  Cliente_3  40.471840 -3.708079
3  Cliente_4  40.404688 -3.706262
4  Cliente_5  40.371990 -3.695056

In [3]:
df_location.isna().sum()

Cliente     0
Latitud     0
Longitud    0
dtype: int64

In [4]:
df_location.dtypes

Cliente      object
Latitud     float64
Longitud    float64
dtype: object

In [5]:
df_location.describe().T

,count,mean,std,min,25%,50%,75%,max
Latitud,21.0,40.419163,0.040199,40.334024,40.389637,40.409083,40.446872,40.512445
Longitud,21.0,-3.693152,0.045856,-3.814595,-3.708079,-3.700350,-3.677859,-3.586515