In [1]:
import pandas as pd

In [2]:
df_orders = pd.read_excel("../dataset/df_orders.xlsx")
df_orders.head(5)

     cliente mes_anio  order_demand
0  Cliente_1  12-2024           909
1  Cliente_2  12-2024           959
2  Cliente_3  12-2024           960
3  Cliente_4  12-2024           980
4  Cliente_5  12-2024           979

In [3]:
df_orders.isna().sum()

cliente         0
mes_anio        0
order_demand    0
dtype: int64

In [4]:
df_orders.dtypes

cliente         object
mes_anio        object
order_demand     int64
dtype: object

In [5]:
df_orders.describe().T

              count   mean        std    min     25%    50%    75%    max
order_demand   20.0  936.9  32.736427  881.0  908.75  940.0  965.0  980.0